<fieldset>
  <legend>Inventarios <a href="#modalInventory" role="button" class="btn btn-success btn-mini" data-toggle="modal"><i class="icon-plus-sign" rel= "tooltip" title= "Crear Inventario"></i></a> </legend>

	<div class = "form_inventory">
		<%if @inventories.size > 0 %>
			<div class="accordion" id="accordion1">
			  <%@inventories.each do |inventory| %>
				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href= <%="#collapse#{inventory.id}"%> >
				        <%=inventory.site%>
				      </a>
				    </div>
				    <div id= "<%="collapse#{inventory.id}"%>" class="accordion-body collapse in">
				      <div class="accordion-inner">
				        <strong> Descripción: </strong>
				        <p><%=inventory.details %></p>
				        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-eye-open")), inventory_path(inventory), class: "btn btn-mini", :rel => "tooltip", :"title" => "Ir a Inventario")%>
								<a href="#modalEdit<%="#{inventory.id}"%>" role="button" class="btn btn-mini" data-toggle="modal"><i class="icon-edit" rel= "tooltip" title= "Editar Inventario"></i></a>
								<%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash")), inventory_path(inventory), method: :delete, data:{confirm: "¿Realmente deseas elminiar este inventario?"}, class: "btn btn-mini", :rel => "tooltip", :"title" => "Eliminar Inventario")%>
				      </div>
			    	</div>
					  <div id="modalEdit<%="#{inventory.id}"%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
						  <div class="modal-header" style="height: 44px;">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="modalEditLabel">Crear Inventario</h3>
						    <hr>
						  </div>
						  <%= simple_form_for([inventory]) do |f|%>
						    <div class="modal-body">
						      <%= f.input :site, label: "Lugar de ubicación" %>
						      <%= f.input :details, :input_html =>{:rows => 10}, label: "Detalles"%>
						    </div>
						    <div class="modal-footer">
						      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						      <%= f.button :submit , 'Aceptar', class: "btn btn-primary" %>
						    </div>
						  <%end%>
						</div>
		  		</div>
		  	<%end%>
		  </div>
		<%else%>
			<div class="well">
	  		<a href="#modalInventory" role="button" data-toggle="modal">Cree su primer inventario.</a>
	  	</div>
		<%end%>
	</div>
</fieldset>

<%=render "form"%>