<fieldset>
    <legend><%=@inventory.site %> Inventory</legend>
	<div class= "form_inventory">
		<div class= "well">
			<p><b>Description:</b><%=@inventory.details %></p>
			<p>	<%=link_to "Edit", edit_user_inventory_path(current_user), class: "btn"%>
			<%=link_to "Delete", inventory_path(@inventory), method: :delete, data:{confirm: "Are you sure your want to delete this post?"}, class: "btn"%></p>
		</div>
	</div>
	<legend>Elements</legend>
	
	<div id="elements">
	  <% if @inventory.elements%> 
  				<table class="table table-striped">  					
				    <thead>
				      <tr>
				        <th>Referencia</th>
				        <th>Nombre</th>
				        <th>Estado</th>
				        <th>Valor</th>
				        <th>Detalles</th>
				        <th>Acciones</th>
				      </tr>
				    </thead>
      			<%=render @inventory.elements%>
      		</table>
      <%else%>
      <a>This inventory don't have any element</a>
	  <%end%>
	</div>
	<legend>New Element</legend>
	<%=simple_form_for([@inventory, @inventory.elements.build]) do |f|%>
	  <div class="well">
	      <%= f.input :name %>
	      <%= f.input :reference %>
	      <%= f.input :status %>
	      <%= f.input :value %>
	      <%= f.input :details, :input_html =>{:rows => 10}  %>
	      <%= f.submit class: "btn btn-primary  " %>
	  </div>
	<%end%>
</fieldset>
<p>	<%=link_to "Back To All Inventory", root_path, class: "btn"%></p>