<fieldset>
    <legend> Inventario "<%=@inventory.site %>"" </legend>
	<div class= "form_inventory">
		<div class= "well">
			<p><b>Descripción: </b><%=@inventory.details %></p>
			<p> <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Editar</a>
			<%=link_to "Eliminar", inventory_path(@inventory), method: :delete, data:{confirm: "¿Realmente deseas eliminar este inventario?"}, class: "btn btn-primary"%></p>
		</div>
	</div>
	<legend>Elementos <a href="#myModal2" role="button" class="btn btn-small" data-toggle="modal">Nuevo Elemento</a> </legend>
	<div id="elements">
	  <% if @inventory.elements%>
  				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Referencia</th>
				        <th>Nombre</th>
				        <th>Estado</th>
				        <th>Valor</th>
				        <th>Detalles</th>
				        <th>Acciones</th>
				      </tr>
				    </thead>
      			<%=render @inventory.elements%>
      		</table>
      <%else%>
      <a>Este inventario no tiene ningún elemento.</a>
	  <%end%>
	</div>
</fieldset>
<div id="forms">
	<%=render "form"%>
	<%=render "elements/form"%>
</div>
<p>	<%=link_to "Todos los inventarios", inventories_path, class: "btn btn-success"%></p>