<fieldset>
    <legend> Inventario "<%=@inventory.site %>"" </legend>
	<div class= "form_inventory">
		<div class= "well">
			<p><b>Description:</b><%=@inventory.details %></p>
			<p>	<%=link_to "Editar", edit_inventory_path(@inventory), class: "btn"%>
			<%=link_to "Eliminar", inventory_path(@inventory), method: :delete, data:{confirm: "¿Realmente deseas eliminar este inventario?"}, class: "btn"%></p>
		</div>
	</div>
	<legend>Elementos</legend>

	<div id="elements">
	  <% if @inventory.elements%>
  				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Referencia</th>
				        <th>Nombre</th>
				        <th>Estado</th>
				        <th>Valor</th>
				        <th>Detalles</th>
				        <th>Acciones</th>
				      </tr>
				    </thead>
      			<%=render @inventory.elements%>
      		</table>
      <%else%>
      <a>Este inventario no tiene ningún elemento.</a>
	  <%end%>
	</div>
	<legend>New Element</legend>
	<%=simple_form_for([@inventory, @inventory.elements.build]) do |f|%>
	  <div class="well">
	      <%= f.input :name %>
	      <%= f.input :reference %>
	      <%= f.input :status %>
	      <%= f.input :value %>
	      <%= f.input :details, :input_html =>{:rows => 10}  %>
	      <%= f.submit class: "btn btn-primary  " %>
	  </div>
	<%end%>
</fieldset>
<p>	<%=link_to "Back To All Inventory", inventories_path, class: "btn"%></p>