<tbody>
  <% if element.loaned%>
    <tr class= "loaned">
  <%else%>
    <tr>
  <%end%>
    <td><%= element.name %></td>
    <td><%= element.reference %></td>
    <td><%= Element::STATUSES[:"#{element.status}"] %></td>
    <td><%= element.value %></td>
    <td><%= element.details.truncate(30, omission: ' ...') %></td>
    <td>
      <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-eye-open")), inventory_element_path(@inventory, element), class: "btn btn-mini", :rel => "tooltip", :"title" => "Ir a elemento")%>
      <% if @inventory.finished == false%>
        <a href="#modalEdit<%="#{element.id}"%>" role="button" class="btn btn-mini" data-toggle="modal"><i class="icon-edit" rel= "tooltip" title= "Editar Elemento"></i></a>
        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash")), inventory_element_path(@inventory, element), method: :delete, data:{confirm: "¿Realmente deseas elminiar este elemento?"}, class: "btn btn-mini", :rel => "tooltip", :"title" => "Eliminar Elemento")%>
      <%end%>
      <% if element.loaned%>
        <%loan = Loan.where("element_id = ? AND finished = ?", element, false).first %>
        <%=link_to "Finalizar Préstamo", finish_loan_path(loan)+"?return=#{inventory_path(element.inventory)}", method: :put, data:{confirm: "¿Realmente desea finalizar el préstamo de este elemento?"}, class: "btn btn-mini btn-success", :rel => "tooltip", :"title" => "Finalizar Préstamo del elemento"%>
      <%else%>
        <a href="#modalLoan<%="#{element.id}"%>" role="button" class="btn btn-mini btn-success" data-toggle="modal">Prestar</a>
      <%end%>
    </td>
  </tr>
</tbody>
<!--Modal edit-->
<div id="modalEdit<%="#{element.id}"%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-header" style="height: 44px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalEditLabel">Editar Elemento</h3>
    <hr>
  </div>
  <div id="errors_edit_element_<%=element.id%>" class="hide errors" style = "float: right"></div>
  <%=simple_form_for([@inventory, element], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
    <div class="modal-body">
      <%= f.input :name, label: "Nombre" %>
      <%= f.input :reference, label: "Referencia" %>
      <%= f.input :status, label: "Estado", collection: Element::STATUSES.invert.to_a %>
      <%= f.input :value, label: "Valor estimado" %>
      <%= f.input :details, :input_html =>{:rows => 10}, label: "Detalles"%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.button :submit , 'Aceptar', class: "btn btn-primary" %>
    </div>
  <%end%>
</div>
<!--Modal loan-->
<div id="modalLoan<%="#{element.id}"%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLoanLabel" aria-hidden="true">
  <div class="modal-header" style="height: 44px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalEditLabel">Prestar Elemento</h3>
    <hr>
  </div>
  <div id="errors_loan_element_<%=element.id%>" class="hide errors" style = "float: right"></div>
  <%=form_for([@inventory, element, element.loans.build], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
    <div class="modal-body">
      <%= f.label :loaned_to_id , "*Prestar a"%>
      <%= f.select :loaned_to_id , options_for_select(User.all_users(current_user)), {:include_blank => true}%>
      <%= f.label :start_date , "*Fecha de inicio"%>
      <%= f.text_field :start_date, class: 'datetimepicker'%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit 'Aceptar', class: "btn btn-primary" %>
    </div>
  <%end%>
</div>
