<tbody>
  <tr>
    <td><%= element.reference %></td>
    <td><%= element.name %></td>
    <td><%= element.status %></td>
    <td><%= element.value %></td>
    <td><%= element.details.truncate(30, omission: ' ...') %></td>
    <td><%=link_to "Delete Element", inventory_element_path(@inventory, element), method: :delete, data:{confirm: "Are you sure your want to delete this element?"}%></td>
  </tr>
</tbody>
