<tbody>
  <tr>
    <td><%= element.reference %></td>
    <td><%= element.name %></td>
    <td><%= element.status %></td>
    <td><%= element.value %></td>
    <td><%= element.details.truncate(30, omission: ' ...') %></td>
    <td>
      <%=link_to "Ver", inventory_element_path(@inventory)%> | 
      <%=link_to "Eliminar", inventory_element_path(@inventory, element), method: :delete, data:{confirm: "¿Realmente deseas eliminar este elemento?"}%>
      </td>
  </tr>
</tbody>
