<div id="modalElement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="height: 44px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Crear Elemento</h3>
    <hr>
  </div>
  <div id="errors" class="hide" style = "float: right">
  </div>
  <%=simple_form_for([@inventory, @inventory.elements.build], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
    <div class="modal-body">
      <%= f.input :name, label: "Nombre" %>
      <%= f.input :reference, label: "referencia" %>
      <%= f.input :status, label: "Estado", collection: Element::STATUSES.invert.to_a %>
      <%= f.input :value, label: "valor Estimado" %>
      <%= f.input :details, :input_html =>{:rows => 3}, label: "Detalles"%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.button :submit , 'Aceptar', class: "btn btn-primary" %>
    </div>
  <%end%>
</div>