<fieldset>
	<div class="accordion" id="accordion1">
    <div class="accordion-group ui-state-disabled">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        Elemento "<%=@element.name %>" - Inventario "<%=@inventory.site %>"
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          <p><strong> Referencia: </strong> <%=@element.reference%></p>
          <p><strong> Estado: </strong> <%=@element.status%></p>
          <p><strong> Valor estimado: </strong> <%=@element.value%></p>
          <p><strong> Detalles: </strong> <%=@element.details%></p>
  				<%unless @inventory.finished%>
            <a href="#modalEditElement<%="#{@element.id}"%>" role="button" class="btn btn-mini" data-toggle="modal"><i class="icon-edit" rel= "tooltip" title= "Editar Inventario"></i></a>
  				  <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash")), inventory_element_path(@inventory, @element), method: :delete, data:{confirm: "¿Realmente deseas elminiar este elemento?"}, class: "btn btn-mini", :rel => "tooltip", :"title" => "Eliminar Inventario")%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <%=render "loans/loan"%>
</fieldset>
<!--Buttons-->
<div id="buttons">
  <hr class="special_hr" >
  <%=link_to "inventario '#{@inventory.site}'", inventory_path(@inventory), class: "btn btn-primary btn-large"%>
  <% if @element.loaned == false%>
    <a href="#modalLoan<%="#{@element.id}"%>" role="button" class="btn btn-success btn-large" data-toggle="modal", id="finished_inventory">Prestar Elemento</a>
  <%else%>
    <%loan = Loan.where("element_id = ? AND finished = ?", @element, false).first %>
    <%=link_to "Finalizar Préstamo", finish_loan_path(loan), method: :put, data:{confirm: "¿Realmente desea finalizar el préstamo de este elemento?"}, class: "btn btn-large btn-info", :rel => "tooltip", :"title" => "Finalizar Préstamo del elemento", id: 'info_finished_inventory'%>
  <%end%>
</div>
<div id="forms">
  <!--Modal Edit Element-->
  <div id="modalEditElement<%="#{@element.id}"%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-header" style="height: 44px;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="modalEditLabel">Editar Elemento</h3>
      <hr>
    </div>
    <div id="errors_edit_element_<%=@element.id%>" class="hide errors" style = "float: right"></div>
    <%= simple_form_for([@inventory, @element], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
      <div class="modal-body">
        <%= f.input :name, label: "Nombre" %>
        <%= f.input :reference, label: "referencia" %>
        <%= f.input :status, label: "Estado" %>
        <%= f.input :value, label: "Valor estimado" %>
        <%= f.input :details, :input_html =>{:rows => 10}, label: "Detalles"%>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.button :submit , 'Aceptar', class: "btn btn-primary" %>
      </div>
    <%end%>
  </div>
  <!--Modal Loan-->
  <div id="modalLoan<%="#{@element.id}"%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLoanLabel" aria-hidden="true">
    <div class="modal-header" style="height: 44px;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="modalEditLabel">Prestar Elemento</h3>
      <hr>
    </div>
    <div id="errors_loan_element_<%=@element.id%>" class="hide errors" style = "float: right"></div>
    <%=simple_form_for([@inventory, @element, @element.loans.build], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
      <div class="modal-body">
        <%= f.input :loaned_to_id , label: "Prestar a:", collection: User.all_users(current_user) %>
        <%= f.input :start_date, label: "Fecha de inicio" %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.button :submit , 'Aceptar', class: "btn btn-primary" %>
      </div>
    <%end%>
  </div>
</div>