<div class="loans">
	<legend>Historial de péstamos</legend>
	<div id="loans">
		<%if @loans.size == 0%>
			<div class="well">
	  		<a href="#modalLoan<%="#{@element.id}"%>" role="button" data-toggle="modal">Este elemento nunca ha sido prestado, realice el primer préstamo de este elemento.</a>
	  	</div>
		<%else%>
			<table class="table table-hover table-bordered">
		    <thead>
		      <tr>
		        <th>ID</th>
		        <th>Prestado a</th>
		        <th>Fecha de inicio</th>
		        <th>Finalizado?</th>
		        <th>Fecha de finalización</th>
		        <th>Duración del préstamo</th>
		        <th>Editar</th>
		      </tr>
		    </thead>
		    <% @loans.each do |loan|%>
					<tbody>
						<% unless loan.finished%>
					    <tr class= "loaned">
					  <%else%>
					    <tr>
					  <%end%>
						<td><%= loan.id %></td>
						<td><%= loan.loaned_to.full_name %></td>
						<td><%= l loan.start_date, :format => :special %></td>
						<td><%= loan.finished ? "Sí" : "No"%></td>
						<% if loan.finished %>
							<td><%= l loan.end_date.localtime, :format => :special %></td>
							<td><%= distance_of_time_in_words(loan.start_date, loan.end_date)%></td>
							<td>N/A</td>
						<%else%>
							<td>N/A</td>
							<td>N/A</td>
							<td>
								<a href="#modalEdit<%="#{loan.id}"%>" role="button" class="btn btn-mini" data-toggle="modal"><i class="icon-edit" rel= "tooltip" title= "Editar Préstamo"></i></a>
							</td>
						<%end%>
						<!--Modal edit-->
						<div id="modalEdit<%="#{loan.id}"%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
						  <div class="modal-header" style="height: 44px;">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="modalEditLabel">Editar Préstamo</h3>
						    <hr>
						  </div>
						  <div id="errors_edit_loan_<%=loan.id%>" class="hide errors" style = "float: right"></div>
						  <%=form_for([@inventory, @element, loan], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
					      <div class="modal-body">
					        <%= f.label :loaned_to_id , "*Prestar a"%>
					        <%= f.select :loaned_to_id , options_for_select(User.all_users(current_user))%>
					        <%= f.label :start_date , "*Fecha de inicio"%>
					        <%= f.text_field :start_date, id: 'datetimepicker'%>
					        <%= hidden_field_tag :return, "#{inventory_element_path(@element.inventory, @element)}"%>
					      </div>
					      <div class="modal-footer">
					        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					        <%= f.submit 'Aceptar', class: "btn btn-primary" %>
					      </div>
					    <%end%>
						</div>
					</tbody>
				<%end%>
  		</table>
		<%end%>
	</div>
</div>