<!DOCTYPE html>
<html>
<head>
  <title>Stocktaking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="contaniner">
    <%if notice%>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p class="notice"><%= notice %></p>
      </div>
    <%end%>
    <%if alert%>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><%= alert %></p>
      </div>
    <%end%>
  </div>

  <div class="container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
<!--        <li><a href="http://sancarborromeo.jimdo.com">Regresar</a></li> -->
        <% if user_signed_in? %>
          <li class="active"><%=link_to "Inventarios" , inventories_path %></li>
          <li class="dropdown">
              <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#"><%=current_user.email%><b class="caret"></b></a>
              </button>
              <ul class="dropdown-menu">
                <li><%=link_to "Salir", destroy_user_session_path,  method: :delete%></li>
              </ul>
            </div>
          </li>
        <% else %>
          <li><%=link_to "Iniciar Sesión", new_user_session_path%></li>
        <% end %>
      </ul>
      <h3><%=link_to "Stocktaking", root_path, class: "active"%></h3>
    </div>

    <hr>
  </div>

  <div id="yield" class="container">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p><a href="http://sancarborromeo.jimdo.com" target="_blank">Colegio Técnico Industrial San Carlos Borromeo </a></p>
      <p>
      <p>Designed and built by <a href="https://plus.google.com/u/1/108981190606310585411/posts" target="_blank">Hernán Orozco</a></p>
      <p>
    </div>
  </footer>

</body>
</html>
